<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      API-TechData
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-list lines="none">
		<ion-item *ngFor="let entry of entries">

			<ion-card>
				<ion-header>
					<ion-card-title>{{ entry.name }}</ion-card-title>
				</ion-header>
				<ion-card-content>
					<p>{{ entry.description }}</p>
				</ion-card-content>
					<ion-button (click)="copy(entry.name, entry.description)">
						COPY
					</ion-button>
			</ion-card>
			
		</ion-item>
	</ion-list> 
</ion-content>
